.hero {
  background: $footerBgColor url('../img/hero_bg_1.jpg') no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  padding-top: 40px;
  .header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0;
    position: relative;
    .logo {
      color: #ffffff;
      font-size: 24px;
      line-height: 1.5;
      font-weight: bold;
    }
  }

  &__content {
    padding: 260px 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
  }
  &__title {
    text-transform: uppercase;
    line-height: 0.5;
    margin-bottom: 25px;
  }
  &__text {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 50px;
    letter-spacing: 1.3px;
  }
  &__button {
    font-size: 16px;
    padding: 16px 35px;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: transparent;
    &:hover {
      color: #ffffff;
    }
  }
}

.nav {
  flex-grow: 1;
  .menu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-end;
    // list-style: none;
    margin: 0;
    padding: 0;
    &__item {
      list-style: none;
      padding-left: 35px;
      &:first-child {
        padding-left: 0;
      }
    }
    &__link {
      font-family: $fontTitle;
      color: #ffffff;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.35px;
      &:hover {
        color: green;
      }
    }
  }
}

.slicknav_menu {
  display: none;
  .slicknav_nav {
    position: absolute;
    z-index: 5;
    min-width: 100%;
    right: 0;
    text-outline: 0;
    top: 80%;
    background: $footerBgColor;
    .menu__item {
      padding-left: 0;
    }
  }
  .slicknav_menutxt {
    display: none;
  }
  .slicknav_btn {
    display: inline-block;
    float: right;
    background: transparent;
    font-size: 24px;
  }
  li {
    background: transparent;
    text-align: center;
  }
  @media screen and (max-width: $screen-medium) {
    display: block;
    width: 100%;
    background: transparent;
    }
}
