$primaryColor: #555555;
$primaryBgColor: #ffffff;
$secoindaryBgColor: #F8F8F8;
$footerBgColor: #C0301C;
$linksColor: #ffffff;
$whiteColor: #ffffff;
$linksHoverColor: #777A84;
$inputBorderActive: #C0301C;
$activeLinkColor: #C0301C;
$postTitleColor: #C0301C;
$worksBgColor: #C0301C;

$slickMenuBg: rgba(255, 73, 88, 0.5);

$fontPrimary: 'Roboto Slab', serif;
$fontTitle: 'Montserrat', sans-serif;
$fsH1Title: 48px;
$fsH2Title: 20px;
$fsH3Title: 18px;
$fsH4Title: 16px;
$fsH5Title: 14px;
$fsH6Title: 12px;
$fsPrimary: 14px;
$fsSecondary: 16px;
$fsPhrase: 18px;
$fsBlogAuthor: 13px;
$fsForm: 12px;
$fsAddress: 12px;
$lhPrimary: 1.7;

$screen-large: 1024px;
$screen-medium: 638px;
$screen-small: 450px;
